@using AspNetCoreIdentityCurso.Extensions


<h1>Pode Excluir!</h1>

@{ 
    if (this.IfClaim("Permissoes", "Ler"))
    {
        <p>Você pode ler isso!</p>
    }
}

<p>Você pode ler isso porque não precisa de permissão!</p>

<div>
    @Html.ActionLink("Link de Teste", "Secret").IfClaimShow(Context, "Permissoes", "Ler")
</div>

<div>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Permissoes", "Excluir"))">Excluir</a>
</div>